# StatefulSet이 postgresql에 접근하도록 해주는 서비스
# StatefulSet 내부 DNS 관리용 (headless)
apiVersion: v1
kind: Service
metadata:
  name: postgres
spec:
  clusterIP: None
  selector:
    app: postgres
  ports:
    - port: 5432
      targetPort: 5432
