apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
type: Opaque
data:
  POSTGRES_DB: bXlkYg==              # mydb
  POSTGRES_USER: bXl1c2Vy            # myuser
  POSTGRES_PASSWORD: MTIzNA==        # 1234
