apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: ""   # PV와 동일하게 비움
  resources:
    requests:
      storage: 5Gi
