apiVersion: v1
kind: PersistentVolume
metadata:
  name: postgres-pv
spec:
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteOnce
  storageClassName: ""   # 정적 PV
  persistentVolumeReclaimPolicy: Retain
  nfs:
    path: /srv/nfs/k8s
    server: 192.168.56.21    # kube-node1 IP
